
/*elements edits*/
h3, h2{
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a{
    text-decoration: none;
}

li a{
    color:  white;
}

/*dropdown appear on  hover not click*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

/*image change on hover*/
.location {
    width: 40px;
    height: 40px;
    position: relative;
    display: inline-block;
    }
.location .img-top {
    width: 40px;
    
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    
}

.location:hover .img-top {
    display: inline;
}

/*overflow fix*/
.imageWrapper{
   
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 140px;
}

/*Backgrounds*/
#contact{
    background-color: rgb(193, 112, 30);
    color: white;
    border: 0;
}

#footer1{
    background-color: rgb(84, 47, 23);
    color: white;
}

#footer2{
    background-color: rgb(45, 31, 27);
    color: white;
}

/*Button change on hover*/
.button{
    background-color: rgb(193, 112, 30);
    color: white;
    border: 0;
}

.button:hover {
    background-color: rgb(84, 47, 23);
    color: white;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
