body{
    
    color:rgb(47, 69, 70);
}
h2{
    font-size: 2vw;
    background-color:beige;
    font-family: Oleo Script Swash Caps;
    color: palevioletred;
    border:1px solid rgb(16, 10, 34) ;
    border-radius: 260px;
    width: 50%;
}
li a{
    color: white;
}

a:hover{
    font-style: italic;
    color: blue;
}
a:visited{
    color:black
}

table tr th{
    color: blueviolet;
}
table, th, td{
    border: 2px solid chocolate;
    /*border-collapse: collapse;*/
    border-radius: 5px;
}
.test{
    color: red;
}
.test2{
    color: blue;
}

.divStyle{
    font-family:sans-serif ;
    background-color: rgb(227, 213, 158);
}

.divH1{
    color: red;
    padding: 10px 15px;
    border: 2px dashed white;
    margin: -10px;
}
.divH2{
    border: 2px dashed white;
    padding: 0px;
    color: blue;
}
.divP{
    color: black;
}

.container{
    width: 100%;
    background-color: rgb(47, 47, 95);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item{
    width: 300px;
    background-color: white;
    margin: 10px;
    border: 3px solid black;
}

.g-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "head head head" "rightM main main" "rightM main main" ;
    background-color: white;
}


.gHead{
    grid-area: head;
    background-color: rgb(46, 46, 59);
    
    
}
.gRight{
    grid-area: rightM;
    background-color: rgb(132, 132, 189);
}

.gMain{
    grid-area: main;
    align-self: center;
    justify-self: center;
    background-image: url(../Untitled148_20220322102127.png);
}

img[alt]{
    color: brown;
}